@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: CloudHeading;
    src:url(../font/Bangers/Bangers.ttf);
}
@font-face {
    font-family: CloudText;
    src:url(../font/Boogaloo/Boogaloo-Regular.ttf);
}
#heading{
	font-family:CloudHeading;
	font-size:1.5em;
	letter-spacing:0.1em;
	color:#F9AC57;
	margin-top:0.1em;
	text-align:center;
	height:1.5em;
}
p{
	font-family:CloudText;
	color:#fff;
	font-size:1.5em;
}
.nav_link_home{
	float:left;
	width:50%;
	height:150px;
	box-sizing:border-box;
	padding:10px;
	text-align:center;
}
.nav_link_home p{
	margin-top:0px;
	font-size:1.3em;
}
.nav_link_home img{
	transition: all .2s ease-in-out;
}
.nav_link_home img:hover{
	transform: scale(0.9);
}

.ep_box{
	font-family:CloudText;
	float:left;
	width:100%;
	height:150px;
	background-color:#F9AC57;
	margin-bottom:20px;
	border-bottom:10px solid #FF8000;
}
.ep_box_title{
	float:left;
	width:50%;
	height:25px;
	font-style:italic;
	text-decoration:underline;
	color:#000;
	text-align:center;
	font-size:1.3em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ep_box_epno{
	float:left;
	margin-top:3px;
	width:50%;
	height:25px;
	color:#fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align:center;
	font-size:1em;
}
.ep_box_info{
	width:50%;
	height:125px;
	color:#fff;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing:border-box;
	padding:5px;
	font-size:0.8em;
	font-family:Arial, Helvetica, sans-serif !important;
	float:left;
}
.ep_box_img{
	float:left;
	width:50%;
	height:125px;
	text-align:center;
	overflow:hidden;
	text-overflow:ellipsis;
}
.sml_txt{
	font-size:0.8em;
}
.ep_box_ep_title{
	display:block;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#flitermyshows,#searchshows{
	font-size:1.5em;
	font-family:CloudText;
}
#flitermyshows::-webkit-input-placeholder,#searchshows::-webkit-input-placeholder  {
   color: #F9AC57;
}

.showlistbox{
	width:100%;
	float:left;
}
.showlist_pointer{
	float:left;
	width:10%;
	text-align:center;
}
.showlist_heading{
	float:left;
	font-family:CloudText;
	font-size:1.2em;
	width:90%;
}
.full_width{
	width:100% !important;
}
.showlist_info{
	width:100%;
	float:left;
	padding-left:20%;
	box-sizing:border-box;
	color:#fff;
}
.showlist_info p{
	font-family:Arial, Helvetica, sans-serif !important;
}
#myshowslist.ui-listview>li p{
	white-space:normal !important;
}
#myshowslist.ui-listview>.ui-li-static, #myshowslist.ui-listview>.ui-li-divider, #myshowslist.ui-listview>li>a.ui-btn {
	border-style:none;
	
}
#myshowslist.ui-listview>li.ui-first-child{
	margin-top:20px;
}
.user_info_p{
	text-align:center;
	font-size:1em;
	color:#252525;
	margin-top:-10px;
}
.whitenormal{
	margin-top:0px;
	font-size:1em !important;
}
hr.showlisthr{
	display:block;
	 clear:both;
	height:2px;
	border:0;
	 background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(249, 172, 87, 1), rgba(0, 0, 0, 0));
}
.showlist_heading a{
	text-decoration:none;
	color:#000 !important;
}
.notify_box{
	float:left;
	background-color:#F9AC57;
	color:#fff;
	font-family:CloudText;
	margin-left:2em;
	box-sizing:border-box;
	padding:0.5em;
	text-align:center;
	max-width:90px;
	min-width:90px;
}
.half_opacity{
	opacity:0.5; 
}
.margin_bottom{
	margin-bottom:2em !important;
}
#seasonSelect,#seasonSelect-button{
	font-family:CloudText !important;
	font-size:1.7em;
	background:#fff;
	color:#F9AC57;
	padding:0;
}

.history_title,.history_epno{
	box-sizing:border-box;
	padding:0.2em;
	float:left;
	height:50px;
	font-family:CloudText;
}
.history_wrap{
	background:#F9AC57;
	border-bottom:10px solid #FF8000;
}
.history_title{
	text-decoration:underline;
	color:black;
	width:100%;
	font-size:1.3em;
}

.history_img{
	float:right;
	width:100%;
	text-align:center;
}
.history_info p{
	font-size:1.1em;
	box-sizing:border-box;
	padding:0.2em;
	font-family:Arial, Helvetica, sans-serif !important;
	
}